@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc; /* Un gris muy suave de fondo (slate-50) */
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}